<!doctype html>
<html>
  <head>
    <title>Yes, this is RESTdoge</title>
    <link rel="stylesheet" href="/css/radio.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="wrapper">
      <h1>Welcome to radio_api!</h1>
      <a href="/stations/create">Create station</a><br>
      <a href="/stations/">Show stations</a><br>
      <a href="/stop">Stop radio</a><br>
      <a href="/previous">Previous station</a><br>
      <a href="/next">Next station</a><br>
      <a href="/volume">Volume control</a><br>
    </div>
  </body>
</html>