<!doctype html>
<html>
  <head>
    <title>Create station</title>
    <link rel="stylesheet" href="/css/radio.css" type="text/css" media="screen">
  </head>
  <body>
    <div class="wrapper">
    <form method="post" action="/stations/create">
      <table>
        <tr>
          <td>Station name:</td>
          <td><input name="name" type="text"></td>
        </tr>
        <tr>
          <td>Station URL:</td>
          <td><input name="url" type="text"></td>
        </tr>
        <tr>
          <td colspan="2"><input type="submit" value="Submit"></td>
        </tr>
      </table>
    </form>
    </div>
  </body>
</html>